header{
    background-color: #e3f2fd;
}
.breadcrumb{
    background-color: rgba(128, 128, 128, 0.24);
    padding: 10px 15px;
}
.bg{
    background-color: rgba(128, 128, 128, 0.24); 
}
.breadcrumb a{
    text-decoration: none;
}
.img{
    height: 400px;
    width: auto;
}
a{
    text-decoration: none;
}
footer{
    background-color: #17a2b8;
    padding: 10px 0;
}
footer p{
    margin: 0;
}